# Compiled class file
*.class

# Log file
*.log

# IntelliJ IDEA
.idea/

# Gradle files
.gradle/
build/

# Local configuration file (e.g., .editorconfig)
.editorconfig

# Files and directories created by Gradle
out/

# User-specific files
*.iml
*.ipr
*.iws

# Sensitive or high-churn files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries


# Exclude the gradle wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Exclude .DS_Store files on macOS
.DS_Store
